@font-face {
    font-family: LeagueGothic;
    src: url('font/League_Gothic-webfont.eot');    
	src: local('League_Gothic'), 
			url('font/League_Gothic-webfont.woff') format('woff'), 
			url('font/League_Gothic-webfont.ttf') format('truetype'), 
			url('font/League_Gothic-webfont.svg#LeagueGothic') format('svg');
}

/** color picker **/
.pickcolor {
	background: url("images/select.png");
	height: 36px;
	position: relative;
	width: 36px;
}

.pickcolor div {
	background: url("images/select.png") repeat scroll center center
		transparent;
	height: 30px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 30px;
}

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index: 10000;
}

.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}

.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}

.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}

.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}

.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}

.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}

.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}

.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}

.colorpicker_hex input {
	right: 6px;
}

.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}

.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}

.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}

.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}

.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}

.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}

.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}

.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}

.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}

.colorpicker_focus {
	background-position: center;
}

.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_slider {
	background-position: bottom;
}

/** text grow **/
.addgrow,.removegrow {
	background-position: -1px -2px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 19px;
	text-indent: 999px;
	width: 19px;
	margin-left: 10px;
}

.addgrow {
	background-image: url('images/tab_add.png');
}

.removegrow {
	background-image: url('images/tab_delete.png');
}

/** upload **/

input.uploadtext[type="text"] {
	width: 85%;
}

.j-dialog input.uploadtext[type="text"] {
	width: 60%;
}

input.uploadbutton {
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	padding: 2px;
	width: 20% !important;
}

#quote_button,#testimonial_button,
#youtube_button,#vimeo_button,
#html5video_button,#html5audio_button,
#portfolio_button
	{
	padding: 2px;
	position: absolute;
	z-index: 888;
}

#quote_delete,#quote_edit,
#testimonial_delete,#testimonial_edit,
#youtube_delete,#youtube_edit,
#vimeo_delete,#vimeo_edit,
#html5video_delete,#html5video_edit,
#html5audio_delete,#html5audio_edit,
#portfolio_edit,#portfolio_delete
	{
	background-color: #EEEEEE;
	border-color: #999999;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
}

/** tab **/
.jeg-meta-tab .ui-tabs-nav {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.jeg-meta-tab .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.jeg-meta-lab .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-top-left-radius: 0px;
}

.jeg-meta-lab .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {    
    border: 1px solid #DFDFDF;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li {
	float: left;
	list-style: none outside none;
	/* margin: 0 0.2em 1px 0; */
	margin : 0px;
	padding: 0;
	position: relative;
	top: 1px;
	white-space: nowrap;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	border-right: none;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li:last-child {
	border-right: 1px solid #DFDFDF !important;	
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li a {
	color: #464646;
	display: block;	
	font-size: 12px;
	font-weight: normal;
	padding: 10px 25px;
	text-shadow: 0 1px 0 #FFFFFF;
	text-transform: capitalize;
	font-weight: bold;
}

.jeg-meta-tab .ui-widget-header {
	background: #f7f7f7;
}

.jeg-meta-tab .ui-widget-content {
	border: none;
}

.jeg-meta-tab .ui-tabs-panel {
	border: 1px solid #DFDFDF;
	padding: 10px;
}

.jeg-meta-tab .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background: white;
	border: 1px solid #DFDFDF;
	border-right: none;
	border-bottom: 1px solid #FFFFFF;
}

.jeg-meta-tab {
	margin: 15px 0;
}

h3.hndle {
	text-transform: capitalize;
	font-size: 14px !important;
}

.jeg-meta-tab .ui-widget {
	font-family: sans-serif;
	font-size: 12px;
}

.meta-option, .setting-option {
	background-color: #FBFBFB;
	border: 1px solid #DFDFDF;
	box-shadow: 1px 1px 0 #FFFFFF inset;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 25px 5px 15px;
	position: relative;
}

.meta-description, .setting-description {
	color: #828282;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: 1.5em;
	padding: 5px 0;
	clear: both;
}

.meta-option [type="text"], .setting-option [type="text"] {
	width: 100%;
}

.meta-option [type="radio"] {
	margin-right: 5px;
}

.meta-option [type="checkbox"] {
	margin-right: 5px;
	margin-top: 1px;
}

.meta-option select {
	min-width: 50%;
}

.meta-option textarea, .setting-option textarea {
	height: 70px;
	width: 100%;
}

.meta-option .uploadtext {
	
}

.meta-option .selectfile {
	cursor: pointer;
}

.checkbox-wrapper {
	margin-bottom: 5px;
	float: left;
	line-height: 30px;
	width: 25%;
}

.radio-wrapper {
	float: left;
	line-height: 30px;
	width: 25%;
}

/** setting option **/

.setting-option select {
	min-width: 50%;
}

.setting-option input.uploadtext[type="text"] {
	width : 530px;	
}

.setting-option input.selectfile {
	cursor: pointer;
}

/** alert **/
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-heading {
	color: inherit;
	font-weight: bold;
}

.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-danger,.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

.alert-block>p,.alert-block>ul {
	margin-bottom: 0;
}

.alert-block p+p {
	margin-top: 5px;
}

input.slidertext {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none;
	color: #F6931F;
	margin-left: 20px;
	padding: 0;
	width: 65px !important;
	text-align: right;
}

.ui-slider-horizontal {
	border: 1px solid #DDDDDD !important;
	color: #333333;
	height: 10px;
	position: relative;
	margin-left: 10px;
}

.ui-slider .ui-slider-handle {
	cursor: default;
	height: 1.2em;
	position: absolute;
	width: 1.2em;
	z-index: 2;
	top: -3px;
	margin-left: -10px;
}

.ui-slider-range {
	display: none;
}

.meta-heading h4{
  	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	
	border: 1px solid #DFDFDF;
	color: #585858;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: capitalize;
}

.jad-heading-resize {
	background-image: url("images/arrows.png");
	background-position: 5px 7px;
	background-repeat: no-repeat;
	height: 25px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: 100px;
	top: 0;
	width: 25px;
	display: none;
}

.jad-child-heading:hover .jad-heading-resize{
	display: block;
}  

.jad-heading {
	position: relative;
	
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
}

.jad-heading h4 {
	border: 1px solid #DFDFDF;
	color: #585858;
	font-size: 13px;
	margin: 10px 0;
	padding: 10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: capitalize;
	padding-left: 40px;
	
	background-repeat: no-repeat;
	background-position: 15px 10px;
}

.jad-child-heading {
	position: relative;
	cursor: pointer;	
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
}

.jad-child-heading h4 {
	border: 1px solid #DFDFDF;
	text-shadow: 1px 1px 1px #FFFFFF;
	color: #585858;
	font-size: 13px;
	margin: 10px 0;
	padding: 6px 10px 6px 15px;
	text-transform: capitalize;
}

.jad-child-heading h4 {
	margin : 13px 0;
	text-align: center;
}

.jad-heading-raquo{
	display: none;
	margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}

#jegtheme_like_meta .ui-tabs-nav {
	display: none;
}

#poststuff h3, .metabox-holder h3 {
	padding : 11px;
}

.postbox .hndle {
	border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

/*** skleton ***/
.jad{
	background-color: #F9F9F9;
	background-image: url("../img/adminpattern.png");
	background-repeat: repeat;
	border-color: #D8D8D8;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	color: #7C7C7C;
	margin-left: 5px;
	margin-top: 20px;
	width: 900px;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.jad-header {
	border-bottom: 1px solid #D8D8D8;
	height: 70px;	
}

.jad-header-title {
	color: #7C7C7C;
	font-family: LeagueGothic;
	font-size: 35px;
	line-height: 70px;
	margin-left: 30px;
	text-shadow: 2px 2px 0px #C9C9C9;
	float: left;
}

.jad-ads {
	background: white;
    float: right;
    height: 100%;
    width: 680px;
    border-left: 1px solid #DFDFDF;
    position: relative;
}

.jad-ads-close {	
	position: absolute;
	right: 27px;
	top: 40px;
	color: white;
	font-size: 9px;
	cursor: pointer;
}

.jad-ads img {
	padding : 12px 12px 12px 20px;
} 

.jad-body {
	padding : 10px 20px;
	background: white;
}

.jad-body-navi {
	background-color: #FFFFFF;	
	width: 220px;
	float: left;
	background-color: #f6f6f6;
}

.jad-body-content {
	background-color:#FFFFFF;
	border-left: 1px solid #DFDFDF;
	float: right;
	margin-left: -1px;
	width: 680px;
	display: none;
}

.jad-body-clear {
	clear: both;
}

.jad-body-navi ul {
	margin : 0px;
}

.jad-body-navi li:first-child{
	border-radius: 4px 0 0 0 ;
}


.jad-body-navi li {
	line-height: 38px;
	margin: 0;
	padding-left: 39px;
	border-bottom: 1px solid #DFDFDF;
	border-top : 1px solid #FFF;	
    text-shadow: 1px 1px 1px #FFFFFF;
    cursor: pointer;
    border-right: 1px solid #DFDFDF;
    color: #464646;
    
    background-repeat: no-repeat;
	background-position: 15px 11px;
}

.jad-body-navi li.navi:hover {
	background-color: #FFFFFF;
}

.jad-body-navi li.active {
	background-color: #FFFFFF;
	border-right: none;
}

.jad-foot {
	border-top: 1px solid #D8D8D8;
	/* box-shadow: 1px 1px 2px 1px rgba(125, 125, 125, 0.1); */
	height: 52px;
	clear : both;
	
	/*
	background-image: -moz-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -webkit-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -o-linear-gradient(top, #FCFCFC, #F4F4F4);
	background-image: -ms-linear-gradient(top, #FCFCFC, #F4F4F4);		
	*/
	background: #F9F9F9;
}

.jad-tab {
	height: 40px;
	background: #F9F9F9;
}

.jad-tab ul{
	margin: 0px;
}

.jad-tab li {
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DFDFDF;
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 11px 25px;
	
	background-image: -moz-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -o-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -ms-linear-gradient(top, #F9F9F9, #F0F0F0);
}

.jad-tab li:hover {
	background: #FFFFFF;
}

.jad-tab li.active {
	background: #FFFFFF;
	border-bottom: none;
	position: relative;
	top: 1px;
	z-index: 10;
}

.jad .checkbox-wrapper {
	width: 50%;
}

.jad-content {
	background: #FFFFFF;
	border-top: 1px solid #DFDFDF;
	clear: both;
	min-height: 350px;
	position: relative;
	top: -1px;
	display: none;
	padding : 5px 15px;
}

.jad-content .setting-title {
	clear: both;
	margin: 0;
	padding: 11px 0 8px;
}


.setting-colorpicker .pickcolor {
	float: left;
}

.setting-colorpicker .pickcolor-text {
	float: left;
    height: 30px;
    margin-left: 9px;
    width: 200px;
    text-transform: uppercase;
}

.moreinfo, .lessinfo {
	cursor: pointer;
	height: 12px;
	margin-right: 30px;
	margin-top: 18px;
	position: absolute;
	right: 0;
	text-indent: 100px;
	top: 0;
	width: 12px;
}

.moreinfo {
	background: url(images/questionmark.png);
}

.lessinfo {
	background: url(images/minus.png);
}

.help {
	display: none;
	border-top: 1px dashed #DFDFDF; 
	margin : 10px 0;
}

.help-wrapper{
	margin : 10px 0;
}

.jad-submit{
	float: right;
}

.jad-submit input[type="submit"]{
	margin-right: 15px;
    margin-top: 13px;	      
}

input.btn {
    background-color: #0074CC;
	background-image: -moz-linear-gradient(top, #0088CC, #0055CC);
	background-image: -webkit-linear-gradient(top, #0088CC, #0055CC);
	background-image: linear-gradient(top, #0088CC, #0055CC);
	background-image: -o-linear-gradient(top, #0088CC, #0055CC);
	background-image: -ms-linear-gradient(top, #0088CC, #0055CC);
	
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	vertical-align: middle;
}

input.btn:hover{
	background-color: #0055CC;
	color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.body-active , .content-active {
	display: block;
}


/** font chooser **/
.fontview {
	background: none repeat scroll 0 0 white;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    line-height: 40px;    
    text-align: center;    
    width: 100%;
    margin-bottom: 10px;
}

.fontvariant {
	text-transform: capitalize;
}


/** ibutton **/
.ibutton-container {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
	max-width: 400px;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-moz-user-focus: ignore; 
	-moz-user-input: disabled;
	width: 89px;
}

.ibutton-container input {
  	position: absolute;
	top: 0;
	left: 0;

	/* hide the element */
	filter:alpha(opacity=0);
	-moz-opacity: 0.0; 
	opacity: 0.0;

	/* allow checking of input if visible */
	-moz-user-input: enabled  !important;
}

.ibutton-handle {
  	display: block;
  	height: 27px;
  	cursor: inherit;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 0;
  	background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 -54px;
  	z-index: 3;
  	padding-left: 3px;
	/* set default width based on ON/OFF labels */
	width: 33px;
}

.ibutton-handle-right {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 100% -54px;
  z-index: 3; 
}

.ibutton-handle-middle {
  height: 100%;
  width: 100%;
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 50% -54px;
  z-index: 3; 
}

div.ibutton-label-on, div.ibutton-label-off {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: inherit;
  display: block;
  height: 22px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden; 
  background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 0;
}

div.ibutton-label-on {
  color: #fff;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
  left: 0;
  padding-top: 5px;
  z-index: 1; 
}

div.ibutton-label-on span {
  padding-left: 5px;
}

div.ibutton-label-off {
  color: #7c7c7c;
  background-position: 100% 0;
  text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
  text-align: right;
  right: 0;
	/* the off label needs to near the left edge (ideally just 5px away) 
	 * it just needs to be close enough that it won't show under the handle if dragged to the left  
	 */
	width: 95%;
}

div.ibutton-label-off span {
  padding-right: 5px; 
}

/* create an outline when button gets focus via keyboard */
.ibutton-container label {
	cursor: inherit;
	padding: 1px 3px;
	font-size: 1em !important;
}

.ibutton-focus label {
	/* we must use border, since outline doesn't work in IE */
	border: 1px dotted #666 !important;
	padding: 0 2px;
}

.ibutton-focus div.ibutton-label-on span label {
	/* use white for more contrast */
	border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.ibutton-padding-left, .ibutton-padding-right {
	position: absolute; 
	top: 4px;
	z-index: 2; 
	background: transparent url(images/ibutton-slider-default.png) no-repeat scroll 0 -4px; 
	width: 3px;
	height: 20px;
}
	
.ibutton-padding-left {
	left: 0; 
}

.ibutton-padding-right {
	right: 0; 
	background-position: 100% -4px;
}

/* change the styles of the handle when being dragged */
.ibutton-active-handle .ibutton-handle {
	background-position: 0 -108px;
}

.ibutton-active-handle .ibutton-handle-right {
	background-position: 100% -108px;
}

.ibutton-active-handle .ibutton-handle-middle {
	background-position: 50% -108px;
}

/* styles to use when the button is disabled */
.ibutton-disabled {
	cursor: not-allowed !important; /* cursor options: default or not-allowed */
}

.ibutton-disabled .ibutton-handle {
	background-position: 0 -81px;
}

.ibutton-disabled .ibutton-handle-right {
	background-position: 100% -81px;
}

.ibutton-disabled .ibutton-handle-middle {
	background-position: 50% -81px;
}

.ibutton-disabled div.ibutton-label-on {
	background-position: 0 -27px;
}

.ibutton-disabled div.ibutton-label-off {
	background-position: 100% -27px;
}

.ibutton-disabled .ibutton-padding-left {
	background-position: 0 -27px;
}

.ibutton-disabled .ibutton-padding-right {
	background-position: 100% -27px;
}

.ibutton-disabled div.ibutton-label-on {
	color: #fff;
}

.ibutton-disabled div.ibutton-label-off {
	color: #cbcbcb;
}


.iconset li {
	float: left;
}

.iconitem, .iconresultitem, .sidebarresultitem, .frontslideritem , .locationitem, .thememanager_item, .musicitem{		
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);		
	color: #FFFFFF;
	
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	padding: 1px 0px;
	text-align: center;
	vertical-align: middle;
	margin : 0px 8px 5px 0px;
}

.iconitemselect {
	background: #7CD3FF;
}

.iconresult, .sidebarres, .arrange_slider, .locationresult, .thememanager_result, .musicresult {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px dotted #C9C9C9;
	margin: 2px -25px -5px -15px;
	padding: 5px 17px;
}

.iconresult ul {
	margin: 6px 0px;
}

.thememanager_result ul li:first-child {
	background: activeborder;
	color : white;
}

.iconresultitem, .sidebarresultitem, .frontslideritem , .locationitem, .thememanager_item, .musicitem {
	background: #FBFBFB;
	color: #7C7C7C;
	cursor: move;
	margin-bottom: 9px;
	text-align: left;
	width: 100%;
	position: relative;
}

.sidebarresultitem {
	cursor: auto;
}

.iconresulticon {
	border-right: 1px dotted #C9C9C9; 
	float: left;
}

.iconresulttext{
	line-height: 30px; 
	padding-left: 40px;
}

.sidebarresulttext , .frontslidertext, .thememanager_text {
	line-height: 30px; 
	text-align: center;
	font-weight: bold;
}

.locationtext, .musictext {
	margin-left: 40px;
	border-left: 1px dotted #C9C9C9;
	padding-left: 10px;
}

.locationicon {
	background: url("images/map-pin.png") no-repeat;
	height: 40px;
	margin-left: 13px;
	margin-top: 30px;
	position: absolute;
	width: 40px;
}

.musicicon {
	background: url("images/map-pin.png") no-repeat;
	height: 40px;
	margin-left: 13px;
	margin-top: 30px;
	position: absolute;
	width: 40px;
}

.iconresultdel, .sidebarresultdel, .locationdel, .locationedit, .thememanager_del, .musicedit, .musicdel {
	position: absolute;
	right: 0px;
	top : 0px;
	cursor: pointer;
	background-image: url('images/delete.png');
	height: 32px;
	width: 32px;
}

.locationedit, .musicedit {
	background-image: url('images/edit.png');
	right: 32px;
}

.savedinfo, .installinfo {
	width: 850px;
	margin-left: 5px;
    margin-top: 15px;
    text-align: center;
}

.fontblock {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dotted #C9C9C9;
    margin: 3px -25px 0 -15px;
    padding: 10px 25px 10px 15px;
    text-align: left;
}

.ffblock {
	border-bottom: 1px dotted #C9C9C9;
}

.fontspan {
	display: block;
    padding-bottom: 7px;
    padding-top : 7px;
}